$dark: #41574C;

$red: #eb424d;
$red-alpha: transparentize($red, .6);
$blue: #4261eb;
$blue-alpha: transparentize($blue, .6);
$green: #46926c;
$green-alpha: transparentize($green, .5);

$orange: #ffab73;
$orange-alpha: transparentize($orange, .5);
$yellow: #f9f871;
$yellow-alpha: transparentize($yellow, .5);
$purple: #46926c;
$purple-alpha: transparentize($purple, .5);

$grey: #A0ABA6;
$grey-alpha: transparentize($grey, .8);