.context-menu {
    width: 100%;
    // padding: 15px 0;

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(110%);
    @extend .slot.gap-2;
    
    background: #fff;

    transition: .3s;

    .buttons {
        @extend .slot;
        @extend .slot.gap-2;
    }
    
    &.active {
        transform: translateY(0);
    }

}